body {
    background-image: url(../assets/img/ceu-estrelado-com-nebulosa_104785-439.avif);
    background-size: cover;
  }
  
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .signupbtn {
    background-color: var(--background-color-botao-cadastro);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  .signupbtn {
    padding: 14px 20px;
    background-color: #e2e615f5;
  }
  
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }
  
  .container_cadastro {
    padding: 16px;
  }
  
  .modal_cadastro {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-modal-cadastro);
    padding-top: 50px;
  }
  
  .cadastro-conteudo {
    background-color: var(--background-conteudo-cadastro);
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    animation-name: animationtop;
    animation-duration: 0.8s;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
    
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @keyframes animationtop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 250px) {
  
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }