:root {
  --background-modal-cadastro: #474e5d;
  --background-modal-cadastro2: rgba(0, 0, 0, 4);
  --background-conteudo-cadastro: #fefefe;
  --background-color-botao-cadastro: #e2e615f5;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

.menu {
  height: 50px;
  transition: 0.6s;
  display: flex;
}

.container {

  width: 95%;
  margin: auto;
}

.container .usuario_opcao {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.usuario_opcao li {
  margin-right: 50px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px;
  height: 45px;
  font-weight: 400;
}

.menu ul li {
  font-size: 15px;

  transition: 0.6s;
  color: aliceblue;
}

.menu ul li a img:hover {
  width: 120px;
  transition: 0.6s;
}

.menu ul li:hover {
  font-size: 20px;
  transition: 0.6s;
}

/* cadastro conteudo  */

.body_cadastrologin {
  background-image: url(../assets/img/ceu-estrelado-com-nebulosa_104785-439.avif);
  background-size: cover;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signupbtn {
  background-color: var(--background-color-botao-cadastro);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container_cadastro {
  padding: 16px;
}

.modal_cadastro {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background-modal-cadastro);
  padding-top: 50px;
}

.cadastro-conteudo {
  background-color: var(--background-conteudo-cadastro);
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  animation-name: animationtop;
  animation-duration: 0.8s;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes animationtop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* section inicial */
.section_banner_inicial {
  background-image: url(../assets/img/ceu-estrelado-com-nebulosa_104785-439.avif);
  background-size: cover;
}

.section_banner_inicial {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.section_banner_inicial .texto_banner_inicial {
  padding-left: 2px;
  font-size: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.section_banner_inicial .imagem_banner_inicial {
  width: 80%;
}

.section_banner_inicial .imagem_banner_inicial img {
  height: 400px;
  width: 100%;
  border: 3px solid;
  border-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  filter: grayscale(20%);
}

.section_banner_inicial .texto_banner_inicial img {
  width: 60px;
}

section_background {
  background-size: cover;
}

/* section persona  */

.section_personagens {
  background-image: url(../assets/img/background_campeoes.jpg);
  background-size: cover;
}

.section_personagens {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.titulo_personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.titulo_personagens h1 {
  text-align: center;
  font-size: 30px;
  width: 80%;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.caixa_campeoes_total{
  width: 570px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.caixa_campeos {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.container_campeoes {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numero_campeao{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
