* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --text-color: #ccc;
  --toggle-color: #fff;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}

.menu {
  height: 90px;
  transition: 0.6s;
  display: flex;
  background-color: rgba(20, 4, 75, 0.986);
}

.menu button {
  background-color: goldenrod;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.container {
  background-color: rgba(20, 4, 75, 0.986);
  width: 90%;
  margin: auto;
}

.container .usuario_opcao {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.usuario_opcao li {
  margin-right: 50px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px;
  height: 45px;
  font-weight: 400;
}

.menu ul li {
  font-size: 15px;

  transition: 0.6s;
  color: aliceblue;
}

.menu ul li a img:hover {
  width: 120px;
  transition: 0.6s;
}

.menu ul li:hover {
  font-size: 20px;
  transition: 0.6s;
}

.home{
  color: var(--text-color);
  position: relative;
  left: 100px;
  height: 50vh;
  top: 70px;
  width: calc(100% - 250px);
  background: var(--body-color);;
}

.dashboard .tituloDash{
  display: flex;
  justify-content: center;
}
.dashboard .graficos{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}

.dashboard .graficos .grafico{
  width: 30%;
  height: 200px;
  background: var(--primary-color-light);
}



.none{
  display: none;
}